QPushButton {
    background-color: white; /* 背景颜色 */
    border-style: outset;
    border-width: 2px;
    border-radius: 8px; /* 设置圆角半径 */
    border-color: beige;
    font-size: 20px;
    min-width: 7em;
    padding: 3px;margin-right: 10px;}